* {
  margin: 0;
  font-family: "Biko", sans-serif;
}

@font-face {
  font-family: "Biko";
  src: url("./fonts/Biko_Regular.otf");
}

html,
body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
  background: linear-gradient(45deg, #afcbff 0%, #6eb5ff 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* .input 
{ } */

.at {
  color: white;
  text-shadow: 1px 1px gray;
  font-size: 2rem;
  text-anchor: end;
  font-weight: bold;
}

#name {
  font-size: 1.5rem;
}

/* #confirm 
{ } */

input[type="button"] {
  background-color: #fbe4ff;
  border: 2px solid transparent;
  border-radius: 100px;
  font-size: 1.5rem;
  transition: 80ms;
  margin: 0 0.2em;
}

input[type="button"]:enabled:hover {
  filter: brightness(95%) saturate(500%);
}

input[type="button"]::-moz-focus-inner {
    outline: none;
} 

input[type="button"]:focus {
    outline: none;
}

.container {
  margin-top: 4em;
}

#egg {
  border: 2px solid dodgerblue;
  background-color: whitesmoke;
  margin-bottom: 2em;
  vertical-align: middle;
}

.phrase {
  color: white;
  text-shadow: 1px 1px gray;
  font-size: 1.5rem;
  margin-bottom: 1em;
  font-weight: bold;
}

#download {
  width: 15em;
}
